* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-areas:
    "head head head head head"
    "side nav nav nav nav"
    "side article article article article"
    "foot foot foot foot foot";
  gap: 4px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  /* display: grid; */
}

.header {
  background-color: #393f4d;
  display: grid;
  grid-template-columns: 2fr 4fr;
  align-items: center;
  grid-area: head;
}

.logo {
  justify-self: start;
}

.menu {
  align-self: center;
}

.menu ul,
.menu li {
  font-size: 16px;
  list-style-type: none;
}

.menu ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.sidebar {
  background-color: #FF7755;
  display: grid;
  gap: 50px;
  grid-area: side;
}

.side-content,
.photo {
  display: grid;
  align-items: center;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
  max-width: 100%;
}

.sidebar div {
  place-content: center;
}

.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #FF7755;
  grid-area: nav;
}

.nav ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: stretch;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
  list-style-type: none;
}

.article {
  background-color: #bccbde;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-area: article;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  height: 200px;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
  padding: 5px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-area: foot;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}